* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: #f55a5a;
  padding: 0.75em 0;
}

.header-logo{
  color: #ffffff;
  height: 2em;
}

.header-title{
  color: #ffffff;
  font-weight: 500;
  letter-spacing: -0.075em;
  line-height: 1em;
  font-size: 1.5rem;
}

.card--list {
  display: flex;
  flex-direction: column;
  padding: 4em 3em;
} 

.card{
  display: flex;
  gap: 1em;
  padding: 2em 0;
}

.card--list > .card:first-child{
  padding-top: 0;
}

.card--list > .card:last-child{
  padding-bottom: 0;
}

.card--list > .card:not(:last-child){
  border-bottom: 1px solid #918e9b;
}


.card--info{
  padding: 0.5em;
}

.card--image{
  border-radius: 0.3em;
  width: 20em;
  aspect-ratio: 16/9;
  object-fit: cover;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.card--image:hover{
  transform: scale(1.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.card--location-info{
  display: flex;
  gap: 1em;
  align-items: center;
}

.card--location-container{
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.card--location-icon{
  color:#f55a5a;
}

.card--location{
    color: #2b283a;
    display: inline-block;
    font-size: .75rem;
    letter-spacing: .17em;
    text-transform: uppercase;
}

.card--maps-url{
  font-size: .75rem;
  color:#918e9b;
}

.card--title{
  font-size:2rem ;
  font-weight: 700 ;
  margin: 0.25em 0 ;
}

.card--date {
  font-weight: 700;
}

.card--description {
  font-size: .75rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2em;
  max-width: 50rem;
}

.footer{
  padding: 1.25em 2.25em;
  text-align: center;
  color: #ffffff;
  background-color: #f55a5a;
}

@media only screen and (max-width: 768px) {
  .card{
    flex-direction: column;
    padding: 2em 0;
  }

  .card--image{
    width: 100%;
  }

  .card--info{
    padding: 0;
  }

  .card--list{
    padding: 2em 1em;
  }
}